.home-bg{
     background-position: center center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: blur(50);

    
}
.right-img{

    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  background: rgba(135, 255, 143, 0.997);
  overflow: hidden;
 
}
.right-img img{
    mix-blend-mode: multiply;
    min-height: 100vh;
  

}